{% extends 'base.html' %}
{% block content %}
<h1 class="text-2xl font-bold mb-4">{{ facility.name }}</h1>

<table class="min-w-full divide-y divide-gray-200 mb-4">
  <tbody class="bg-white divide-y divide-gray-200">
    <tr>
      <th class="px-4 py-2 text-left w-1/4">Location:</th>
      <td class="px-4 py-2">{{ facility.location }}</td>
    </tr>
    <tr>
      <th class="px-4 py-2 text-left">Partner:</th>
      <td class="px-4 py-2">{{ facility.partner }}</td>
    </tr>
    <tr>
      <th class="px-4 py-2 text-left">Type:</th>
      <td class="px-4 py-2">{{ facility.facility_type }}</td>
    </tr>
    <tr>
      <th class="px-4 py-2 text-left">Capabilities:</th>
      <td class="px-4 py-2">{{ facility.capabilities }}</td>
    </tr>
    <tr>
      <th class="px-4 py-2 text-left">Description:</th>
      <td class="px-4 py-2">{{ facility.description|linebreaks }}</td>
    </tr>
  </tbody>
</table>

<div class="space-x-2">
  <a href="{% url 'core:facility_update' facility.pk %}" class="bg-indigo-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    <i class="bi bi-pencil"></i> Edit
  </a>
  <a href="{% url 'core:facility_list' %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
    Cancel
  </a>
  <a href="{% url 'core:facility_delete' facility.pk %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
    Delete
  </a>
</div>
{% endblock %}
